/* body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
} */
#1{transform: translateY(-100px); 
  
}
/* .header {
  padding: 60px;

  color: white;
  font-size: 30px;
  top: 500px;  
  margin-left: 50%;
  
} */
#ktiba1{font-family: fantasy;}
#ktiba2{font-family: fantasy;
margin: 50px;
font-size:20px ;}
#wrap{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50p;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: #000;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

/*Piano*/

html  {

  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
video#bgvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; 
}

header {
position: relative;
margin: 30px ;
margin-left: 550px;
}

header:after {
content: '';
width: 100%;
height: 100%;
/* display: inline-block; */
text-align: center;
background-size: 70%;
}
h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-left: 0;
}

body{
  width: 50%;
  height: 100%;
  background: #151210;
  color: black;
}

.piano-container{
  position: relative;
  align-items: center;
  justify-content: center;
}

.piano-container-inside{
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 300px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(40px, auto));
gap: 25px;
}
/*byodh*/
.piano-key{
  width: 100%;
  max-width: 90px;
  height: 100%;
  border: 0.2px solid black;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}
/*k7oll*/
.piano-top{
  width: 40%;
  height: 125px;   
  background: black;
}

.piano-btm{
  font-size: 1.5rem;
}

@media (max-width : 1000px) {
.piano-btm{
  font-size: 1rem;
}
}

.click-btn{
  box-shadow: inset 0px -5px 20px 0px black;
}
.navbar {
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.active {
  background-color: black;
  color: white;
}
.navbar .icon {
  display: none;
}
.more {
  float: left;
  overflow: hidden;
}
.more .btn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.more-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.more-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar a:hover, .more:hover .btn {
  background-color: #555555;
  color: white;
}

.dropdown-menu a:hover {
  background-color: #CCCCCC;
  color: black;
}
.more:hover .more-menu {
  display: block;
}
/**/
#levels{
  transform: translateY(-150px)
}
.home{
  position: relative;
	top: 10px;
	right:-3px; 
}
#sysy{
  padding-left:900px ;
  padding-top:5px
}